

*{
box-sizing:border-box;
}


body{

margin:0;

font-family:Arial, sans-serif;

color:white;

background:
linear-gradient(#0008,#0008),
url("assets/minecraft-bg.jpg");

background-size:cover;

background-attachment:fixed;

}



/* Sidebar */

nav{

position:fixed;

left:0;

top:0;

width:240px;

height:100vh;

background:#111;

padding:20px;

box-shadow:5px 0 20px black;

}



nav h2{

text-align:center;

color:#00ff55;

font-size:25px;

}



nav a{

display:block;

color:white;

text-decoration:none;

background:#222;

padding:14px;

margin:10px 0;

border-radius:10px;

transition:.3s;

}



nav a:hover{

background:#00aa44;

transform:translateX(5px);

}



/* Main */

main{

margin-left:260px;

padding:30px;

}



/* Logo */

.logo{

font-size:60px;

font-weight:bold;

text-align:center;

text-shadow:

4px 4px #333,

0 0 30px #00ff55;

animation:float 3s infinite;

}



.logo small{

display:block;

font-size:20px;

letter-spacing:8px;

color:#00ff55;

}



@keyframes float{

50%{

transform:translateY(-20px);

}

}





.hero{

height:400px;

display:flex;

align-items:center;

justify-content:center;

flex-direction:column;

text-align:center;

}





button,
.button{

background:#00aa44;

color:white;

border:none;

padding:12px 25px;

border-radius:10px;

text-decoration:none;

cursor:pointer;

font-size:16px;

}



button:hover,
.button:hover{

background:#00ff55;

color:black;

}





.card{

background:#111c;

padding:30px;

margin:25px 0;

border-radius:20px;

box-shadow:0 0 25px black;

}




.grid{

display:flex;

gap:20px;

justify-content:center;

flex-wrap:wrap;

}



.grid div{

background:#222;

padding:20px;

border-radius:15px;

width:250px;

text-align:center;

}




.status{

font-size:20px;

line-height:2;

}





/* Falling blocks */

.blocks div{

position:fixed;

top:-50px;

width:40px;

height:40px;

background:#654321;

opacity:.7;

animation:fall 10s infinite;

z-index:-1;

}



.blocks div:nth-child(1){

left:10%;

}



.blocks div:nth-child(2){

left:35%;

animation-delay:3s;

}



.blocks div:nth-child(3){

left:60%;

animation-delay:5s;

}



.blocks div:nth-child(4){

left:85%;

animation-delay:7s;

}



@keyframes fall{

from{

transform:rotate(0);

top:-50px;

}


to{

transform:rotate(360deg);

top:100vh;

}

}





/* Tables */

table{

width:100%;

border-collapse:collapse;

background:#111;

}



th{

background:#00aa44;

padding:15px;

}



td{

padding:12px;

border-bottom:1px solid #444;

}





input,
textarea{

padding:12px;

border-radius:8px;

border:none;

margin:5px;

}





footer{

text-align:center;

padding:30px;

background:#000;

}





/* Mobile */

@media(max-width:700px){

nav{

position:relative;

width:100%;

height:auto;

}


main{

margin:0;

}


.logo{

font-size:40px;

}

}